<div class="padding-global padding-section-medium"><div class="w-layout-blockcontainer container-small w-container"><div class="newsletter-form_layout u-vflex-center-center u-gap-xlarge"><h2 class="text-color-secondary text-size-medium">Subscribe to our newsletter</h2><div class="newsletter-form_component w-form">{% form 'customer', return_to: '/', class: 'newsletter-form_form' %}
<input class="input is-white w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="Email address (required field*)" type="email" id="input-email" required="">
<input type="submit" data-wait="Please wait..." class="button is-white w-button" value="Submit">
{% endform %}
<div class="newsletter-form_success hide w-form-done" id="{{section.id}}-{{section.index}}-successState"><div class="newsletter-form_success-layout u-vflex-center-center"><div li-settings="Success message">
</div>
</div></div><div class="newsletter-form_error w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div><div class="section-custom-code w-embed"></div></div></div></div> {% schema %} {"tag":"section","name":"Newsletter","class":"section_newsletter background-color-secondary","presets":[{"name":"Newsletter","category":"Liquify"}]} {% endschema %}