<div class="padding-global padding-section-small"><div class="octopus_layout u-vflex-center-center"><img src="{{ 'magnurs_octopus.webp' | asset_url }}" loading="lazy" width="56" height="68" alt="" class="octopus_image">
</div></div> {% schema %} {"tag":"section","name":"octopus","class":"section_octopus","presets":[{"name":"octopus","category":"Liquify"}]} {% endschema %}