<div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div class="w-layout-grid auth_layout is-password"><div class="auth_content"><div class="login-form_component u-vflex-stretch-top u-gap-medium w-form"><div class="login-form_heading-wrapper"><h1 li-settings="Heading" class="heading-style-h2">
</h1>
</div>{% form 'storefront_password', class: 'login-form_form u-vflex-left-top u-gap-large' %}
<div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="password" data-name="password" placeholder="Password" type="password" id="password" required="">
</div><div class="button-group"><input type="submit" data-wait="" class="button max-width-full w-button" value="Send">
</div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div><div id="w-node-_5871ffca-710c-be16-85f5-e0cfdb4a5003-78ccc169" class="auth_image-wrap"><img class="auth_image"
     alt="{{ section.settings.image_image.alt }}"

     src="{{ section.settings.image_image | img_url: 'master' }}" loading="lazy" id="w-node-_5871ffca-710c-be16-85f5-e0cfdb4a5004-78ccc169" alt="{{ section.settings.image_image.alt }}" class="auth_image"}
>
</div></div></div></div> {% schema %} {"tag":"section","name":"password","class":"section_auth","settings":[{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"password","category":"Liquify"}]} {% endschema %}