<div class="padding-global padding-section-small"><div class="w-layout-blockcontainer container-large w-container"><div class="shapes-list_layout u-vflex-stretch-top u-gap-medium"><div class="small-section-heading_wrap"><h2 class="small-section-heading_text text-style-allcaps">Shop by Shape</h2></div><div class="shapes-list_list-wrapper w-dyn-list"><div role="list" class="shapes-list_list u-hflex-between-stretch u-hflex-nowrap w-dyn-items">{% for block in section.blocks %}
    {% if block.type == "shape" %}
                    <div li-block="Shape" role="listitem" class="shapes-list_item w-dyn-item">
                                    <a class="shapes-list_item-conponent u-vflex-center-top u-gap-small w-inline-block" href="{{ block.settings.url_url }}"> <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" li-object:href="block.settings.image | img_url: '80x80'" li-object:alt="block.settings.alt" alt="{{ block.settings.alt }}" class="shapes-list_item-thumb w-dyn-bind-empty" href="{{ block.settings.image | img_url: '80x80' }}"><h3 li-object="block.settings.heading" class="text-size-small w-dyn-bind-empty">{{ block.settings.heading }}</h3> </a>

                                    <div class="li-settings w-embed"></div>

                            </div>
            {% endif %}
{% endfor %}
</div>{% if section.blocks == blank %}    <div li-if="section.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No Items Added</div>    </div>
{% endif %}</div></div></div></div> {% schema %} {"tag":"section","name":"shapes_list","class":"section_shapes-list","blocks":[{"name":"Shape","type":"shape","settings":[{"id":"url_url","type":"url","label":"URL"}]}],"presets":[{"name":"shapes_list","category":"Liquify"}]} {% endschema %}